table {
    border-spacing: 0px;
    table-layout: auto;
    width: 100%;

}
// tbody {
//     width: 100%
// }

.episode {
    height: 20px;
    width : 20px;
    
}
.green {
    background-color: green;
}
.white {
    background-color:white;
}