<div class="container d-flex flex-column">

    <!-- DESCRIPTION / PHOTO + INFOS -->
    <div class="row" height="50%">
        <div class="col-4 ">
            <div class="card px-4 border-0">
                <img class="img-fluid "  src="https://image.tmdb.org/t/p/w500/kprWnZu3nvHsaIjVo6qMm0lketp.jpg" alt="">
            </div>
        </div>
        <div class="col-8"> 
            <app-description></app-description>
        </div>
    </div>

    <!-- INDICATEURS + ETAT SERIE + VIDEO -->
    <div >
        <div >
            <app-indicateurs></app-indicateurs>
        </div>
        <div >
            <app-etatserie></app-etatserie>
        </div>
        <div >
            
        </div>
    </div>
</div>




