<div class="container w-100   px-0">
    <form action="">

        <div class="d-flex justify-content-between px-2 bg-secondary rounded-3">
            
            <input type="radio" id="huey" name="drone" value="huey" >
            <input type="radio" id="dewey" name="drone" value="dewey">
            <input type="radio" id="Deja vu" name="drone" value="Deja vu" checked>
            <input type="radio" id="Termine" name="drone" value="Termine">
            <input type="radio" id="Suivant" name="drone" value="Suivant">
           
        </div>
    </form>
    <div class="d-flex justify-content-between lib-curseur">
        <p>Pas du tout</p>
        <p>un petit peu</p>
        <p>modérément</p>
        <p>passionément</p>
        <p>à la folie</p>
              
    </div>
</div>
