<div class="d-flex navbarre justify-content-between  bg-warning">
    <button (click)="goToRoot()" type="button" class="btn btn-light rounded-pill ms-5 my-3">Home</button>
    <div class="d-flex ">
        <button type="button" class="btn btn-secondary rounded-pill mx-3 my-3">
            <a routerLink="/list" routerLinkActive="active" class="list-group-item  list-group-item-action" href="">Mes films</a> 
        </button>
        <button type="button" class="btn btn-secondary rounded-pill mx-3 my-3">Mes series</button>
    </div>
    <button type="button" class="btn btn-primary rounded-pill me-5 my-3">SignUp</button>
</div>

