

            
            <div class="card p-2 border-0">
                <h1>Titre de la série</h1>
                <h2>catégorie1,catégorie2</h2>
                <h3>Synopsis</h3>
                <p>Description longue : Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem voluptatibus dolore repudiandae incidunt explicabo temporibus nesciunt eaque cum iste hic, labore necessitatibus aut, ratione, sit dolores ducimus quod iusto! Quam.</p>
                <div class="container my-3">
                    <div class="row">
                        <div class="col-2" *ngFor="let acteur of acteurs">
                            <div class="card"><img src="https://image.tmdb.org/t/p/w500/kraLXlC9egJh4pTNTpKUYhkkNiu.jpg" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
    

