

<app-searchbarre></app-searchbarre>

<div class="container my-5">
    <h2>Les films les plus populaires</h2>
    <div class="row">
        <div class="col-2" *ngFor="let filmPop of filmsPop">
            <div class="card"><img src="https://image.tmdb.org/t/p/w500/srYya1ZlI97Au4jUYAktDe3avyA.jpg" alt=""></div>
        </div>
    </div>
</div>
<div class="container my-5">
    <h2>Les séries les plus populaires</h2>
    <div class="row">
        <div class="col-2" *ngFor="let seriePop of seriesPop">
            <div class="card"><img src="https://image.tmdb.org/t/p/w500//suopoADq0k8YZr4dQXcU6pToj6s.jpg" alt=""></div>
        </div>
    </div>
</div>



